* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.fl-r {
    float: right;
}

.container {
    margin: 0 auto;
    width: 60%;
    max-width: 1000px;
}

.templates {
    display: none;
}
